{% extends 'base.html.twig' %}

{% block title %}BSX - Byvelds Stock Exchange{% endblock %}

{% block body %}
    <h1>Dividends</h1>
    <table class="table table-bordered table-responsive">
        <tr>
            <th style="width:60px"></th>
            <th>Date</th>
            <th>Stock</th>
            <th>Amount</th>
            <th>Total (stock)</th>
            <th>Total (all)</th>
        </tr>

        {% set total = 0 %}
        {% set total_stock = [] %}

        {% for dividend_payment in dividends %}
            {% set total = total + dividend_payment.amount %}
            {% if total_stock['stock_'~dividend_payment.stock.id] is defined %}
                {% set total_stock = total_stock|merge({('stock_'~dividend_payment.stock.id):total_stock['stock_'~dividend_payment.stock.id] + dividend_payment.amount}) %}
            {% else %}
                {% set total_stock = total_stock|merge({('stock_'~dividend_payment.stock.id):dividend_payment.amount}) %}    
            {% endif %}
            <tr>
                <td><img src="/images/logos/{{ dividend_payment.stock.ticker }}.jpg" alt="" class="dividend_table_logo"></td>
                <td>{{ dividend_payment.paymentDate|date("m/d/Y") }}</td>
                <td>{{ dividend_payment.stock.name }}</td>
                <td>{{ dividend_payment.amount|number_format(2) }}</td>
                <td>${{ total_stock['stock_'~dividend_payment.stock.id]|number_format(2) }}</td>
                <td>${{ total|number_format(2) }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3">GRAND TOTAL</td>
            <td colspan="3">${{total|number_format(2)}}</td>
        </tr>
    </table>
    <a href="/dividends/month" class="btn btn-primary">DIVIDENDS MONTH</a>
    <a href="/dividends/year" class="btn btn-primary">DIVIDENDS YEAR</a>
    <a href="/dividends/add" class="btn btn-primary">ADD DIVIDEND</a>
    <a href="/" class="btn btn-primary">MAIN</a>         
{% endblock %}