{% extends 'base.html.twig' %}

{% block title %}Hello BSXController!{% endblock %}

{% block body %}
    <h1>BSX Homepage</h1>

    <table class="table table-bordered table-responsive">
        <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Amount</th>
            <th>First Bought</th>
            <th>Last Bought</th>
            <th>Currency</th>
            <th>Opening Price</th>
            <th>Closing Price</th>
            <th>Current Price</th>
            <th>Average Price</th>
            <th>Stock Day Gain/Loss</th>
            <th>Stock Gain/Loss (average)</th>
            <th>Potintal Gain/Loss (C/U)</th>
            <th>Total Dividends</th>
            <th>Last Sold</th>
            <th>Sold</th>
            <th>Profit C/U</th>
            <th>Profit /w Dividends</th>
            <th>Type</th>
        </tr>

        {% for stock in stocks %}
            {% set pd = stock.profitCan + stock.dividends %}
            <tr data-id="{{ stock.id }}">
                <td>{{ stock.name }}</td>
                <td>{{ stock.ticker }}</td>
                <td data-shares="{{ stock.id }}">{{ stock.shares }}</td>
                <td>{{ stock.firstBought|date("m/d/Y") }}</td>
                <td>{{ stock.lastBought|date("m/d/Y") }}</td>
                <td data-currency="{{ stock.id }}">{{ stock.currency }}</td>
                <td data-opening="{{ stock.id }}">1.00</td>
                <td>0.00</td>
                <td><input type="text" class="current_price" placeholder="$0.00" data-id="{{ stock.id }}"></td>
                <td data-average="{{ stock.id }}">${{ stock.averagePrice }}</td>
                <td data-day-gl="{{ stock.id }}">Day G/L</td>
                <td data-ave-gl="{{ stock.id }}">Stock G/L</td>
                <td data-p-gl="{{ stock.id }}">Total G/L</td>
                <td>{{ stock.dividends }}</td>
                <td>{{ stock.lastSold|date("m/d/Y") }}</td>
                <td>${{ stock.sold }}</td>
                <td data-profit="{{stock.id}}">${{ stock.profitCan }}/${{ stock.profitUsd }}</td>
                <td data-pd-gl="{{ stock.id }}">{{ pd }}</td>
                <td>{{ stock.type }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add" class="btn btn-primary">ADD</a>
    <a href="/buy" class="btn btn-primary">BUY</a>
    <a href="/sell" class="btn btn-primary">SELL</a>

    <article>
        <h2>Notes on Project</h2>
        
        <h3>What should this project do</h3>
        <p>
            <ul>
                <li>View what stocks I own, how much of each stock,what the current stock price is, and how much I would gain/loss if I sold it all (with and without dividends)</li>
                <li>Current Gain/Loss for all of my stocks combined (with and without dividends)</li>
                <li>Dividend Payments for each stock I own and how much I earned. Each Payment and Total</li>
                <li>Dividend Total Amounts for Each month</li>
            </ul>
        </p>
    </article>

    <article>
        <h2>TODO LIST</h2>
        <ul>
            <li>Create Dividened Entity, Page and Form</li>
            <li>Get Total Dividened Payment amount and add to homepage stock table column</li>
        </ul>
    </article>
{% endblock %}
