{% extends 'base.html.twig' %}

{% block title %}BSX - Byvelds Stock Exchange{% endblock %}

{% block body %}
    <a href="/watchlist" class="btn btn-primary">WATCH LIST</a>
    <a href="/tenplan" class="btn btn-primary">TEN PERCENT PLAN</a>
    <a href="/wizards" class="btn btn-primary">TICKER WIZARDS</a>
    <a href="/dividends" class="btn btn-primary">DIVIDENDS</a>
    <a href="/paper" class="btn btn-primary">PAPER TRADE</a>
    <a href="/add" class="btn btn-primary">ADD</a>
    <a href="/buy" class="btn btn-primary">BUY</a>
    <a href="/sell" class="btn btn-primary">SELL</a>
    <a href="/updatestockinfo" class="btn btn-warning">UPDATE EOD STOCK INFO FROM API</a>

    {% set oldStocks = [] %}
    <table class="table table-bordered table-responsive">
        <tr>
            <td colspan="24">CURRENT STOCKS</td>
        </tr>
        
        <tr>
            <th></th>
            <th>Name</th>
            <th>Ticker</th>
            <th>First Bought</th>
            <th>Last Bought</th>
            <th>Last Sold</th>
            <th>Type</th>
            <th>Currency</th>
            <th>Sold</th>
            <th>Total Dividends</th>
            <th>Profit CDN/USD</th>
            <th>Shares Owned</th>
            <th>Opening Price</th>
            <th>Closing Price</th>
            <th>Current Price</th>
            <th>Stock Day Gain/Loss</th>
            <th>Average Price</th>
            <th>Stock Gain/Loss (average)</th>
            <th>Profit Point</th>
            <th>Potintal Gain/Loss (CDN/USD)</th>
            <th>Links</th>
        </tr>

        {% set sold_total = 0 %}
        {% set profit_cdn_total = 0 %}
        {% set profit_usd_total = 0 %}
        {% set profit_dividend_total = 0 %}
        {% set dividend_total = 0 %}
        {% set grand_sold_total = 0 %}
        {% set grand_dividend_total = 0 %}
        {% set grand_profit_dividend_total = 0 %}

        {% for stock in stocks %}
            {% if stock.shares == 0 %}
                {% set oldStocks = oldStocks|merge([stock]) %}
            {% else %}
                {% set current_price = stock.currentPrice|number_format(2) %}
                {% set stock_dividend_total = 0 %}
                
                {% set stock_sold = stock.sold %}
                {% if stock.currency == 2 %}
                    {% set stock_sold = stock.sold * 1.1936 %}
                    {% set sold_total = sold_total + stock_sold %}
                {% else %}
                    {% set sold_total = sold_total + stock_sold %}
                {% endif %}

                {% set profit_cdn_total = profit_cdn_total + stock.profitCan %}
                {% set profit_usd_total = profit_usd_total + stock.profitUsd %}

                {% for dividend_payment in stock.dividends %}
                    {% set stock_dividend_total = stock_dividend_total + dividend_payment.amount %}
                    {% set dividend_total = dividend_total + dividend_payment.amount %}
                {% endfor %}
                
                {% if stock.profitUsd < 0 %}
                    {% set pus_convert = stock.profitUsd * 1.2286 %}
                {% else %}
                    {% set pus_convert = stock.profitUsd * 1.1936 %}
                {% endif %}
                
                {% set pd = stock.profitCan + stock_dividend_total + pus_convert %}
                {% set profit_dividend_total = profit_dividend_total + pd %}
                
                <tr data-id="{{ stock.id }}">
                    <td {% if stock.notes %}rowspan="2"{% endif %}><img src="/images/logos/{{ stock.ticker }}.jpg" alt="" class="stock_table_logo"></td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ stock.firstBought|date("m/d/Y") }}</td>
                    <td>{{ stock.lastBought|date("m/d/Y") }}</td>
                    <td>{% if stock.lastSold is not null %}{{ stock.lastSold|date("m/d/Y") }}{% else %}Never{% endif %}</td>
                    <td><div class="stock_chip_icon type{{ stock.type }}"></div></td>
                    <td data-currency="{{ stock.id }}">{% if stock.currency == 1 %}<img class="stock_flag" src="images/canada_flag.png" alt="">{% else %}<img class="stock_flag" src="images/us_flag.png" alt="">{% endif %}</td>
                    <td>${{ stock_sold|number_format(2) }}</td>
                    <td data-div="{{stock.id}}">${{stock_dividend_total}}</td>
                    <td data-profit="{{stock.id}}">${{ pd|number_format(2) }}</td>
                    <td data-shares="{{ stock.id }}">{{ stock.shares }}</td>
                    <td data-opening="{{ stock.id }}">${{ stock.openingPrice|number_format(2) }}</td>
                    <td>${{ stock.closingPrice|number_format(2) }}</td>
                    <td><input type="text" class="current_price" placeholder="$0.00" data-id="{{ stock.id }}" value='{{ current_price }}'></td>
                    <td data-day-gl="{{ stock.id }}" class="gl_day {%if stock.shares == 0 %}no_total{% endif %}">$0.00</td>
                    <td data-average="{{ stock.id }}">${{ stock.averagePrice|number_format(2) }}</td>
                    <td data-ave-gl="{{ stock.id }}" class="gl_ave {%if stock.shares == 0 %}no_total{% endif %}">$0.00</td>
                    <td data-pp={{ stock.id }}>$0.00</td>
                    <td data-p-gl="{{ stock.id }}" data-buys="{{ stock.buys }}" class="gl_p {%if stock.shares == 0 %}no_total{% endif %}" >$0.00/$0.00</td>
                    <td><a href="https://www.google.com/finance/quote/{{stock.ticker}}">Google</a> <a href="https://finance.yahoo.com/quote/{{stock.ticker}}">Yahoo</a> <a href="https://www.marketbeat.com/stocks/TSE/{{stock.ticker}}/dividend/">Dividend</a></td>
                </tr>
                {% if stock.notes %}
                <tr>
                    <td colspan="20">
                        {{ stock.notes }}
                    </td>
                </tr>
                {% endif %}
                
            {% endif %}
        {% endfor %}

        <tr>
            <td colspan="8">TOTAL</td>
            <td>${{ sold_total|number_format(2) }}</td>
            <td>${{ dividend_total }}</td>
            <td>${{ profit_dividend_total|number_format(2) }}</td>
            <td colspan="4">N/A</td>
            <td id="total_gl_day">$0.00</td>
            <td colspan="2">N/A</td>
            <td id="total_gl_ave">$0.00</td>
            <td id="total_gl_p">$0.00/$0.00</td>
        </tr>

        <tr>
            <td colspan="24">OLD STOCKS</td>
        </tr>

         <tr>
            <th></th>
            <th>Name</th>
            <th>Ticker</th>
            <th>First Bought</th>
            <th>Last Bought</th>
            <th>Last Sold</th>
            <th>Type</th>
            <th>Currency</th>
            <th>Sold</th>
            <th>Total Dividends</th>
            <th>Profit CDN/USD</th>
            <th colspan="8"></th>
        </tr>

        {% set grand_sold_total = sold_total %}
        {% set grand_dividend_total = dividend_total %}
        {% set grand_profit_dividend_total = profit_dividend_total %}

        {% set sold_total = 0 %}
        {% set profit_cdn_total = 0 %}
        {% set profit_usd_total = 0 %}
        {% set profit_dividend_total = 0 %}
        {% set dividend_total = 0 %}

        {% for stock in oldStocks %}
            {% set current_price = stock.closingPrice|number_format(2) %}
            {% set stock_dividend_total = 0 %}
            {% set stock_sold = stock.sold %}
            {% if stock.currency == 2 %}
                {% set stock_sold = stock.sold * 1.1936 %}
                {% set sold_total = sold_total + stock_sold %}
            {% else %}
                {% set sold_total = sold_total + stock_sold %}
            {% endif %}
           
            {% set profit_cdn_total = profit_cdn_total + stock.profitCan %}
            {% set profit_usd_total = profit_usd_total + stock.profitUsd %}

            {% for dividend_payment in stock.dividends %}
                {% set stock_dividend_total = stock_dividend_total + dividend_payment.amount %}
                {% set dividend_total = dividend_total + dividend_payment.amount %}
            {% endfor %}

            {% if stock.profitUsd < 0 %}
                {% set pus_convert = stock.profitUsd * 1.2286 %}
            {% else %}
                {% set pus_convert = stock.profitUsd * 1.1936 %}
            {% endif %}
            
            {% set pd = stock.profitCan + stock_dividend_total + pus_convert %}
            {% set profit_dividend_total = profit_dividend_total + pd %}

            {% if market_open %}
                {% set current_price = stock.openingPrice|number_format(2) %}
            {% endif %}
            
            <tr data-id="{{ stock.id }}">
                <td><img src="/images/logos/{{ stock.ticker }}.jpg" alt="" class="stock_table_logo"></td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.firstBought|date("m/d/Y") }}</td>
                <td>{{ stock.lastBought|date("m/d/Y") }}</td>
                <td>{{ stock.lastSold|date("m/d/Y") }}</td>
                <td><div class="stock_chip_icon type{{ stock.type }}"></div></td>
                <td data-currency="{{ stock.id }}">{% if stock.currency == 1 %}<img class="stock_flag" src="images/canada_flag.png" alt="">{% else %}<img class="stock_flag" src="images/us_flag.png" alt="">{% endif %}</td>
                <td>${{ stock_sold|number_format(2) }}</td>
                <td data-div="{{stock.id}}">${{stock_dividend_total}}</td>
                <td data-profit="{{stock.id}}">${{ pd|number_format(2) }}</td>
                <td colspan="10">N/A</td>
            </tr>
        {% endfor %}

        {% set grand_sold_total =  grand_sold_total + sold_total %}
        {% set grand_dividend_total = grand_dividend_total + dividend_total %}
        {% set grand_profit_dividend_total = grand_profit_dividend_total + profit_dividend_total %}

        <tr>
            <td colspan="8">TOTAL</td>
            <td>${{ sold_total|number_format(2) }}</td>
            <td>${{ dividend_total }}</td>
            <td>${{ profit_dividend_total|number_format(2) }}</td>
            <td colspan="10">N/A</td>
        </tr>

        <tr>
            <td colspan="8">GRAND TOTAL</td>
            <td>${{ grand_sold_total|number_format(2) }}</td>
            <td>${{ grand_dividend_total }}</td>
            <td>${{ grand_profit_dividend_total|number_format(2) }}</td>
            <td colspan="10">N/A</td>
        </tr>
    </table>

    <article>
        <h2>Notes on Project</h2>
        
        <h3>What should this project do</h3>
        <p>
            <ul>
                <li>View what stocks I own, how much of each stock,what the current stock price is, and how much I would gain/loss if I sold it all (with and without dividends) ✔️</li>
                <li>Current Gain/Loss for all of my stocks combined (with and without dividends) ✔️</li>
                <li>Dividend Payments for each stock I own and how much I earned. Each Payment and Total  ✔️</li>
                <li>Dividend Total Amounts for Each month  ✔️</li>
            </ul>
        </p>
    </article>

    <article>
        <h2>TODO LIST</h2>
        <ul>
            <li>Create Dividened Entity, Page and Form  ✔️</li>
            <li>Get Total Dividened Payment amount and add to homepage stock table column ✔️</li>
            <li>Create a new column on table called Profit Point. it should indicate the price a stock needs be at in order to make a profit on a sale.</li>
            <li>Set Buys property to 1 on stock entity when you add a stock</li>
            <li>Increase Buys property by 1 when you buy more of a stock</li>
            <li>Decrease Buys to zero when you sell all of a stock OR when you sell some shares of a stock above profit point</li>
        </ul>
    </article>
{% endblock %}
