{% extends 'base.html.twig' %}

{% block title %}BSX - Byvelds Stock Exchange{% endblock %}

{% block body %}
    <h1>Ticker Wizard Plays</h1>
    <a href="/wizards/add" class="btn btn-primary">ADD</a>
    <a href="/" class="btn btn-primary">MAIN</a>

    <table class="table table-bordered table-responsive">
        <tr>
            <td colspan="22">TICKER WIZARD PLAYS</td>
        </tr>
        
        <tr>
            <th></th>
            <th>Name</th>
            <th>Ticker</th>
            <th>Current</th>
            <th>Entry</th>
            <th>Targets</th>
            <th>Actions</th>
        </tr>

        {% for stock in plays %}
            <tr data-id="{{ stock.id }}">
                <td><img src="/images/logos/{{ stock.ticker }}.jpg" alt="" class="stock_table_logo"></td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.ticker }}</td>
                <td><input type="text" class="wizard_current_price" placeholder="$0.00" data-id="{{ stock.id }}" value='{{ stock.currentPrice }}'></td>
                <td>${{ stock.entryPrice|number_format(2) }}</td>
                <td>${{ stock.targets }}</td>
                <td><a href="/wizards/delete/{{ stock.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
