{% extends 'base.html.twig' %}

{% block title %}BSX - Ten Percent Plan Status{% endblock %}

{% block body %}
    <h1>Ten Percent Plan Status</h1>

    <table class="table table-bordered table-responsive">
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Increase Added</th>
            <th>Increase Target</th>
            <th>Total (Invest/Savings)</th>
            <th>Total Target (Invest/Savings)</th>
            <th>Percent Increase</th>
        </tr>

        {% set total = 1000 %}
        {% set savings = 0 %}
        {% set target = 0 %}
        {% set savings_target = 0 %}
        {% set percent = 0.10 %}

        {% for week in weeks %}
        <tr>
            {% if percent < 0.999 %}
                {% set target_week = total * 0.05 %}
                {% set target = total + target_week %}
            {% else %}
                {% set target_week = target * 0.05 %}
                {% set target = target + target_week %}
            {% endif %}

            {% set savings_target = savings + target_week %}
            {% set percent = week.increase/total %}
            {% set week_increase = week.increase / 2 %}
            {% set total = total + week_increase %}
            {% set savings = savings + week_increase %}

            <td>{{ week.week }} </td>
            <td>{{ week.enddate|date("m/d/Y") }}</td>
            <td>${{ week_increase|number_format(2) }}</td>
            <td>${{ target_week|number_format(2) }}</td>
            <td>${{ total|number_format(2) }} / ${{savings|number_format(2)}}</td>
            <td>${{ target|number_format(2) }} / ${{ savings_target|number_format(2) }}</td>
            <td class="{% if percent > 0.20 %}hellyeah{% endif %}{% if percent < 0.10 %}fail{% endif %}">{{ percent|number_format(4) * 100 }}%</th>
        </tr>
        {% endfor %}
    </table>
    <a href="/tenplan/add" class="btn btn-primary">ADD WEEK</a>
    <a href="/" class="btn btn-primary">BACK TO MAIN</a>    
    
{% endblock %}    