{% extends 'base.html.twig' %}

{% block title %}Hello BSXController!{% endblock %}

{% block body %}
    <h1>BSX Stock</h1>

    <table class="table table-bordered table-responsive">
        <tr>
            <td colspan="22">STOCK WATCHLIST</td>
        </tr>
        
        <tr>
            <th></th>
            <th>Name</th>
            <th style="width: 210px;">Current</th>
            <th>Deadstop</th>
            <th>Buy In</th>
            <th>Profit Point</th>
            <th colspan="2">Target</th>
            <th>Golden</th>
            <th>Update Time (minutes)</th>
            <th>Actions</th>
        </tr>

        {% for stock in stocks %}
            <tr data-stock-id="{{ stock.id }}">
                <td><img src="/images/logos/{{ stock.ticker }}.jpg" alt="" class="stock_table_logo"></td>
                <td>{{ stock.name }}</td>
                <td id="current_stock{{ stock.id }}">{{ stock.current }}</td>
                <td class="status dead">{{ stock.deadstop }}</td>
                <td class="status buy">{{ stock.buyin }}</td>
                <td class="status pp">{{ stock.profitpoint }}</td>
                <td class="status target" colspan="2">{{ stock.target }}</td>
                <td class="status golden">{{ stock.golden }}</td>
                <td><input class="watchtime_stock" data-stock-id="{{ stock.id }}" data-last="0" type="number" value='1' /></td>
                <td><a href="/watchlist/stock/delete/{{ stock.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="22">OPTIONS WATCHLIST</td>
        </tr>
        
        <tr>
            <th></th>
            <th>Name</th>
            <th style="width: 210px;">Current</th>
            <th>Deadstop</th>
            <th>Buy In</th>
            <th>Profit Point</th>
            <th>Target</th>
            <th>Golden</th>
            <th>Strike Price</th>
            <th>Update Time (minutes)</th>
            <th>Actions</th>
        </tr>

        {% for option in options %}
            <tr data-option-id="{{ option.id }}">
                <td><img src="/images/logos/{{ option.ticker }}.jpg" alt="" class="stock_table_logo"></td>
                <td>{{ option.name }}</td>
                <td id="current_option{{ option.id }}">{{ option.current }}</td>
                <td class="status dead"><input class="option_profit_input watch_input" id="option_deadstop_{{ option.id }}" data-id="{{ option.id }}" value="{{ option.deadstop }}"></td>
                <td class="status buy">{{ option.buyin }}</td>
                <td class="status pp"><input class="option_profit_input watch_input" id="option_profit_{{ option.id }}" data-id="{{ option.id }}" value="{{ option.profit }}" /></td>
                <td class="status target"><input class="option_profit_input watch_input" id="option_target_{{ option.id }}" data-id="{{ option.id }}" value="{{ option.target }}" /></td>
                <td class="status golden"><input class="option_profit_input watch_input" id="option_golden_{{ option.id }}" data-id="{{ option.id }}" value="{{ option.golden }}" /></td>
                <td class="status strike">{{ option.strike }}</td>
                <td><input class="watchtime_option" data-option-id="{{ option.id }}" data-type="{{ option.type }}" data-last="0" type="number" value='1' /></td>
                <td><a href="/watchlist/option/delete/{{ option.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td colspan="8">Settings</td>
            <td><input class="master" id="master_time_input" type="number" value='1' /></td>
            <td></td>
        </tr>


    </table>
    <a href="/watchlist/addstock" class="btn btn-primary">ADD STOCK</a>
    <a href="/watchlist/addoption" class="btn btn-primary">ADD OPTION</a>
    <a href="/" class="btn btn-primary">BACK TO MAIN</a>    

    <script>
    var ds = new Date();
    var startTime = ds.getTime();
    var prevTime = 0;
    var stocks = 0;
    var prev = [];
    var prev_icons = "";
    var max_icons = 12;
    var firstRun = true;

        $(function(){
            
            stocks = $(".watchtime_stock").length;
            $("#master_time_input").on('change', function(){
                $(".watchtime_stock, .watchtime_option").each(function(e,i){
                   $(this).val($("#master_time_input").val());
                });
            });

             $(".watchtime_stock, .watchtime_option").each(function(e,i){
                 prev.push([]);
             });
            

            function updateCurrentPrices(){
                var d = new Date();
                var n = d.getTime();
                var diff = Math.floor((n - startTime) / 1000);
            
                
                $(".watchtime_stock").each(function(i,e){
                    var id = $(this).attr("data-stock-id");
                    var last = $(this).attr("data-last");
                    var checkSecond = (60 * parseFloat($(this).val()));
                    var row = $("tr[data-stock-id="+ id +"]");

                    if((diff - last) > checkSecond || firstRun){
                        $(this).attr("data-last", diff);
                        $.post("/watchlist/stock/check", {id:id}, function(json){
                            var c = (json.dir_up === 2) ? "bi arrow grey bi-dash-square-fill" : (json.dir_up === 1) ? "bi arrow green bi-arrow-up-square-fill" : "bi arrow red bi-arrow-down-square-fill";
                            if(prev[i].length === max_icons){
                                prev[i].shift();
                            }

                            prev[i].push('<i class="' + c + '"></i>');
                            prev_icons = '<br />';

                            if(prev[i].length > 0){prev[i].forEach(function(e,i2){prev_icons += prev[i][i2]});};
                            $("#current_stock" + id).html('<i class="' + c + '"></i> ' + json.current + prev_icons);
                            row.find(".status").removeClass("on");
                            row.find(".status.dead").removeClass("bad");

                            switch(json.status){
                                case(1):
                                    row.find(".status.dead").addClass("on bad");
                                    break;
                                case(2):
                                    row.find(".status.dead").addClass("on");
                                    break;
                                case(3):
                                    row.find(".status.buy").addClass("on");
                                    break;
                                case(4):
                                    row.find(".status.pp").addClass("on");
                                    break;
                                case(5):
                                    row.find(".status.target").addClass("on");
                                    break;
                                case(6):
                                    row.find(".status.golden").addClass("on");
                                    break;
                            }
                        });
                    }
                });
                

                $(".watchtime_option").each(function(i,e){
                    var id = $(this).attr("data-option-id");
                    var last = $(this).attr("data-last");
                    var checkSecond = (60 * parseFloat($(this).val()));
                    var row = $("tr[data-option-id="+ id +"]");

                    if((diff - last) > checkSecond || firstRun){
                        $(this).attr("data-last", diff);
                        $.post("/watchlist/option/check", {id:id}, function(json){
                            var c = (json.dir_up === 2) ? "bi arrow grey bi-dash-square-fill" : (json.dir_up === 1) ? "bi arrow green bi-arrow-up-square-fill" : "bi arrow red bi-arrow-down-square-fill";
                            if(prev[stocks + i].length === max_icons){
                                prev[stocks + i].shift();
                            }

                            prev[stocks + i].push('<i class="' + c + '"></i>');
                            prev_icons = '<br />';

                            if(prev[stocks + i].length > 0){prev[stocks + i].forEach(function(e,i2){prev_icons += prev[stocks + i][i2]});};
                            $("#current_option" + id).html('<i class="' + c + '"></i> ' + json.current + prev_icons);
                            row.find(".status").removeClass("on");
                            row.find(".status.dead").removeClass("bad");

                            switch(json.status){
                                case(1):
                                    row.find(".status.dead").addClass("on bad");
                                    break;
                                case(2):
                                    row.find(".status.dead").addClass("on");
                                    break;
                                case(3):
                                    row.find(".status.buy").addClass("on");
                                    break;
                                case(4):
                                    row.find(".status.pp").addClass("on");
                                    break;
                                case(5):
                                    row.find(".status.target").addClass("on");
                                    break;
                                case(6):
                                    row.find(".status.golden").addClass("on");
                                    break;
                            }
                        });
                    }
                });

                firstRun = false;
                setTimeout(updateCurrentPrices,1000)
            }

            function updateProfit(id){
                var dead = $("#option_deadstop_" + id).val();
                var profit = $("#option_profit_" + id).val();
                var target = $("#option_target_" + id).val();
                var golden = $("#option_golden_" + id).val();
                $.post("/watchlist/option/profit", {id:id, 'deadstop':dead, 'pp':profit, 'target':target, 'golden':golden});
            }

            $(".option_profit_input").on('change', function(){
                updateProfit($(this).attr("data-id"));
            });
           
            updateCurrentPrices();
        });
        

    </script>

{% endblock %}

